.centered-button {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #583fff, #2fff52);
}

.centered-button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -2px;
  right: -2px;
  bottom: 0px;
  border-radius: 30px;
  border: 2px solid white;
  background: linear-gradient(to left, transparent, #fff);
  animation: fade-left 1.5s linear infinite;
  box-shadow: 0px 0px 50px 10px #98eaff;
}

@keyframes fade-left {
  0% {
    right: 0px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.centered-button:active {
  transform: translate(-50%, -50%) translateY(2px);
  box-shadow: none;
  background: linear-gradient(to right, #4124fc, #12ff39);
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 16px solid white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark {
  width: 30px;
  height: 60px;
  border-bottom: 10px solid #7eff7e;
  border-right: 10px solid #7eff7e;
  transform-origin: middle;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -20px;
  opacity: 0;
  animation: drawCheckmark 0.5s ease-out forwards, fillCheckmark 0.5s ease-out 0.5s forwards;
}

@keyframes drawCheckmark {
  0% {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }

  50% {
    opacity: 1;
    transform: scale(1.2) rotate(45deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(45deg);
  }
}

.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader::before {
  content: "";
  display: block;
  border: 16px solid white;
  border-top: 16px solid #08b6fb;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.4s linear infinite;
}

.loader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}